/*  PONER UN ESPACIO ENTRE LOS LINK PARA NAVEGAR EN LA PAGINA*/
/* REVISAR EL LOGO  */
.display1{
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    color: black;
    
}
#principal{
    background: rgb(33,109,116);
    background: linear-gradient(148deg, rgba(33,109,116,1) 25%, rgba(2,66,74,1) 56%);
}

.travelw{
    display: flex;
    justify-content: center;
}
.video{
    display: flex;
    justify-content: end;
} 
.lema2{
    color: black;
}   

.video{
    display: flex;
    justify-content: center;
}
.qssubt{
    display: flex;
    justify-content:center ;
    align-items: center;
    color: black;
}

/* PONER UN TITULO BONITO  */
/* .titulo{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 
    'Helvetica Neue', sans-serif;
    font-size: 300%; 
    text-align: center; line-height: 20px; color: white;
    }
.parrafo{ 
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode',
     Geneva, Verdana, sans-serif;
     font-size: 100%;
     text-align: center; line-height: 10px;
} */

.logo { display: flex; padding: 0%; margin: 0%; width: 150px; height: 150px;}
.qsomos{

    font-size: xx-large;
    color: black;
    font-weight: 1500 ;
    font-variant: normal;
    display: flex;
    justify-content: center;

    }
.textqs{
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    display: flex;
    justify-content: center;
}
.logof{
    width: 100px;
    height: 100px;
}
#footer{
    display: flex;
    justify-content: center;
    background-color:black ;
}
.textfooter{

    color: red
}
.logof{
   ;
}
/* ELEGIR UN COLOR DE FONDO PARA LA PAGINA Y FIJARSE SI SE PUEDE PONER UNA IMAGEN DE FONDO */



/* Aca van las mediaquery */
/* @media screen and (max-width: 600px) {

}
} */
/*     @media screen and (max-width: 1023px) { 
    .tsnacional{
      
        display: grid;
        grid-template-columns: 1fr 1fr;   
        grid-template-rows: 1fr 1fr; 
        margin: 1rem;
        padding: 1rem;
    }
    .barilocheimg{
        width: 300px;
        height: 300px;
    }
    .cataratasimg{
        width: 300px;
        height: 300px;
    }
    .costaimg{
        width: 300px;
        height: 300px;
    }
} */ 
/* @media screen and (max-width: 600px) {

ul{ 
    display: none;
}
.tinternacional{
    
    display: grid;
    grid-template-columns: 1fr;    
    
}
@media screen and (max-width: 1023px) {
.tinternacional{
    width: 75%;
    margin: 0;
       border:0;
       padding:0;
}
.imgbrasil{
    width: 300px;
    height: 300px;
}
.imgfrancia{
    width: 300px;
    height: 300px;
}
.imgeeuu{
    width: 300px;
    height: 300px;
}
 */