main {
  background: #cd1a1a;
  background: linear-gradient(148deg, rgba(205, 26, 26, 0.821166) 17%, #742121 60%); }

.card-img-top {
  height: 300px; }

.titleTemplate, .travelw, .Qstitulo, .tituloptn, .titleTI {
  text-transform: uppercase;
  color: black;
  margin: 1rem;
  font-size: 40px;
  text-align: center; }

.card-text {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: medium;
  color: black; }

li {
  list-style: none; }

.navegador {
  background-color: brown;
  display: flex;
  align-items: center; }
  .navegador__logo {
    gap: 1rem;
    width: 100px;
    height: 100px; }
  .navegador__logo img {
    border-radius: 100%;
    width: 110px;
    height: 110px;
    margin: 1rem; }

header#gradiente.navegador {
  box-shadow: #020000; }

.avion {
  width: 120px;
  height: 60px;
  margin: 1rem; }

.avion:hover {
  transform: translate(520px); }

.avion {
  transition: transform 8s; }

.avion img {
  border-radius: 30%;
  width: 150px;
  height: 50px; }

@keyframes efecto {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

#menunav {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: black;
  text-transform: uppercase;
  text-decoration: none; }

.presentacion__texto {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px; }

.navbar {
  margin: 1rem; }

.presentacion {
  display: flex;
  justify-content: center;
  align-items: center; }
  .presentacion__texto {
    font-family: monospace; }
  .presentacion__texto {
    animation-name: efecto;
    animation-duration: 5s;
    animation-iteration-count: 2; }

.carousel-item img {
  width: 1200px;
  height: 500px;
  margin: 1rem;
  display: flex;
  align-items: center; }

.textqs {
  font-family: Arial, Helvetica, sans-serif;
  font-size: larger;
  display: flex;
  justify-content: center; }

.qssubt {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black; }

.card {
  margin: 0 10px;
  max-width: 500px; }

.card {
  margin: 0 10px;
  max-width: 500px; }

.tituloform {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large; }

.footer {
  background-color: black; }

.logof img {
  display: flex;
  justify-content: right;
  width: 100px;
  height: 100px; }

.logof img {
  border-radius: 100%; }

.rrss {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center; }

.facebook {
  background-color: #3b5998;
  margin: 1rem;
  padding: 10px;
  color: #fff;
  border-radius: 20px; }

.instagram {
  background-color: #c92d8f;
  margin: 1rem;
  padding: 10px;
  color: #fff;
  border-radius: 20px; }

.whatsapp {
  background-color: #00bb2d;
  margin: 1rem;
  padding: 10px;
  color: #fff;
  border-radius: 20px; }

@media (max-width: 500px) {
  .carousel-item img {
    width: 320px;
    height: 200px;
    margin: 12px; }
  .avion {
    display: none; }
  .rrss {
    padding: 5px;
    overflow: hidden; }
  .navegador__logo {
    height: 100%; } }
