.tituloform{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    
}
input{
    margin: 0.5rem;
    padding: 0.5rem;
    gap: 10px;
}
textarea{
    margin: 0.5rem;
    padding: 0.5rem;
}
