.tituloform{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
}
#visionmision{
    display: flex ;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
    
}