.footer{
    background-color:black ;
}
.logof img{
 
    width: 100px;
    height: 100px;
}
.logoimg{
    margin: 1rem;
padding: 1rem;
}
.logof img{
border-radius: 100%;
}
.rrss{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
$rrss: (
    facebook:#3b5998,
    instagram:#c92d8f, 
    whatsapp:#00bb2d,);

@each $name, $color in $rrss {
    .#{$name} {
        background-color: $color;
        margin: 1rem;
        padding: 10px;
        color:#fff;
        border-radius: 20px;
    }
}