main{
 
    background: rgb(205,26,26);
    background: linear-gradient(148deg, rgba(205,26,26,0.8211659663865546) 17%, rgba(116,33,33,1) 60%);

}
.titleTemplate {
    text-transform: uppercase ;
    color: black;
    margin: 1rem;
    font-size: $fontBase;
    text-align: center;
}


