.inicio{
    &__travelw{
        display: flex;
        justify-content: center;
        text-transform: uppercase;
        @extend .titleTemplate;
        margin: 0.5rem;
        padding: 0.5rem;
    }
    &__lema{
       display: flex;
       justify-content: center;
       color: black;
       font-size: 35px;
    }
    &__frase{
        color: black;
        font-size: 20px;
        display: flex;
        justify-content:center;
    }
.carousel-item img{
    width: 1200px;
    height: 500px;
    margin: 10px;
   
}
img.d-block{
    margin: 55px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.video{
        margin: 15px;
         padding: 15px;
         display: flex;
         justify-content: center;
         align-items: center;
       
         }
    &__play{
        margin: 15px;
        padding: 15px;
        margin-bottom: 0.5rem;
        
    }
 h4{
        display: flex;
        justify-content: center;
        align-items: center;
}

}
