@media (max-width:500px) {
    .carousel-item img.d-block{
        width: 300px;
        height: 200px;
        margin: 10px;
       
    }
.avion{
    display: none;
}
.navegador{
    &__logo{
        height: 100%;
    }
}
.video__play{
    width: 250px;
    height: 250px;

}
.card-img-top{
    
    height: 240px;
}
}
@media (max-width:768px){
    .card-img-top{

        height: 200px;
    }
}



